@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body {
    margin: 0;
    padding: 0;
    background: #E1FAF7;
    font-family: 'Noto Sans KR', sans-serif;
    color: #324F50;
    font-size: 13px;
}

.wrap {
    max-width: 320px;
    margin: 0 auto;
    line-height: 20px;
    padding-bottom: 100px;
}

pre {
    font-family: inherit;
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

h2, h3 {
    font-size:13px;
    font-weight:normal;
}

ul {
    padding: 0;
}
li {
    display:block;
 }

