html, body {
    margin: 0;
    padding: 0;
    background: #F9F9F9;
}

.wrap {
    font-size: 13px;
    color: #666;
    font-family: sans-serif;
    max-width: 900px;
    margin: 0 auto;
    line-height: 20px;
    padding-bottom: 100px;
}

h1, h2, h3, h4 {
    color: #000;
}

h2 {
    margin-top: 40px;
    text-align: center;
}

h3 {
    margin-bottom: 5px;
    font-size: 18px;
}

ul {
    padding-left: 0px;
    margin-top: 5px;
}

    ul ul {
        margin-top: 0px;
        margin-bottom: 5px;
    }

li {
    list-style: none;
    margin-left: 10px;
    text-indent: -10px;
}

p {
    margin: 0;
}

h3 + p {
    margin-bottom: 1em;
}

header {
    background: #084D83;
    text-align: center;
    margin-bottom: 10px;
}

    header h1 {
        max-width: 900px;
        margin: 0 auto;
        color: white;
        font-size: 25px;
        padding: 15px;
        letter-spacing: -1px;
    }

a {
    text-decoration: none;
    color: inherit;
}

.index {
    padding: 0 0 20px;
}

    .index > ul {
        width: 500px;
        display: inline-block;
        vertical-align: top;
        line-height: 25px;
        color: #000;
    }

.highlight {
    color: #f00;
    font-weight: bold;
}

.dropdown {
    text-align: right;
    margin-bottom: 20px;
}

    .dropdown .ui {
        position: relative;
        display: inline-block;
        width: 145px;
        margin-left: 2px;
        text-align: left;
        cursor: pointer;
    }

        .dropdown .ui .active {
            display: block;
            width: calc(100% - 20px);
            padding: 10px;
            border: solid 1px #ccc;
            background: #fff;
            cursor: pointer;
        }

            .dropdown .ui .active:after {
                content: '';
                display: block;
                position: absolute;
                right: 10px;
                top: 14px;
                width: 8px;
                height: 8px;
                border-right: solid 1px #555;
                border-bottom: solid 1px #555;
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
            }

        .dropdown .ui ul {
            display: none;
            position: absolute;
            width: 100%;
            left: 0;
            margin: 0;
            border: solid 1px #999;
        }

            .dropdown .ui ul.show {
                display: block;
            }

            .dropdown .ui ul li {
                margin-left: 0;
                padding: 10px 20px;
                background: #fff;
            }

                .dropdown .ui ul li:hover {
                    background: #eee;
                }

        .dropdown .ui select {
            opacity: 0;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

            .dropdown .ui select.hidden {
                visibility: hidden;
            }

@media screen and (max-width: 900px) {
    .wrap {
        margin: 10px;
        padding-bottom: 50px;
    }

    .index > ul {
        width: 90%;
        margin: 0 10px;
        display: block;
    }
}

.english p {
    margin-bottom: 1.2em;
}

.english .title {
    font-weight:bold;
}